body {
  margin: 0;
  padding: 0;
}
.parent {
  border: 1px solid red;
  width: 700px;
  text-align: center;
  margin: 0;
}
.parent div {
  display: inline-block;
  width: 200px;
  height: 200px;
}
.parent div:nth-child(1) {
  background-color: dodgerblue;
}
.parent div:nth-child(2) {
  background-color:crimson;
}
.parent div:nth-child(3) {
  background-color: yellowgreen;
}