/* 7주차 실습 */
/* Cascading Style Sheets
   HTML 파일을 작성할 때 글자의 크기나 색깔, 여백 등의 각종 스타일을 지정할 때 사용하는 것 입니다. 
/* 
8주차 
인코딩설정,
인코딩 설정, homelogo 태그 자식선택자 수정
 */
@charset "utf-8";

.header_div {
  background-color: rgb(128, 147, 250);
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
/* homelogo 하이퍼링크 언더바 지움 */
.header > p > a{
  text-decoration: none;
}
.header font{
  color: white;
}
.nav {
  background-color: rgb(61, 66, 83);
  height: 30px;
  padding: 10px 0;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
}
.nav > a {
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  font-family: inherit;
  color:white;
  margin-left: 50px;
}
.content_div {
  position: relative;
  margin: 0 auto;
  width: 1000px;
}

.aside {
  background-color: rgb(100, 102, 110);
  position: absolute;
  top: 0;
  right: 0;
  width: 43%;
  height: auto;
  color: white;
}
.aside > h3, p {
  padding: 10px;
}
.footer_div{
  background-color: rgb(100, 102, 110);
  position: relative;
  width: 1000px;
  margin: 0 auto;
  /* color: white; */
}
.footer_div font {
  color: white;
}


/* s3.html 영역 */
.frontEnd {
  width: 560px;
  height: auto;;
}
.backEnd {
  width: 560px;
  height: auto;;
}
.fullStack {
  width: 560px;
  height: auto;; 
}

/* s4.html 영역 */
table {
  /* border: 1px solid #000; */
  width: 1000px;
  text-align: center;
  border-collapse: collapse;
}
table td {
  /* border: 1px solid #000; */
}
table img {
  width: 331px;
  height: auto;
}