
.container {
  width: 1080px;
  margin: 0 auto;
  position: relative;
}

/* HEADER PART */
header {
  background-color: #8093fa;
  border-radius: 7px;
}
header .title_div span {
  margin-left: 30px;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  color: #fff;
}
header .navigation_div {
  background-color: #3d4253;
  border-radius: 0 0 7px 7px;
}
header .navigation_div ul {
  list-style: none;
  overflow: hidden;
}
header .navigation_div li {
  float: left;
  margin-left: 20px;
  padding: 10px 0;
  font-size: 20px;
}
header .navigation_div li a {
  text-decoration: none;
  color: #fff;
}
header .title_div img {
  width: 70px;
}

/* MAIN CONTENT PART */
section {
  background-color: #d3d9fa;
  border-radius: 7px;
  margin: 0 auto;
  position: relative;
}
section article {
  padding: 2.5px 0 2.5px 5px;
}

/* FOOTER PART */
footer {
  text-align: center;
}

/* ASIDE PART */
aside .aside_div {
  background-color: #33374b;
  position: fixed;
  top: 180px;
  right: 120px;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}
aside .aside_div a {
  color: #fff;
}