@charset "utf-8";

/* ALL COMMON */
.container {
  width: 1080px;
  margin: 0 auto;
  position: relative;
}

/* <<INDEX PART>> */
/* INDEX: header part */
header {
  background-color: #8093fa;
  border-radius: 7px;
}
header .title_div span {
  margin-left: 30px;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  color: #fff;
}
header .navigation_div {
  background-color: #3d4253;
  border-radius: 0 0 7px 7px;
}
header .navigation_div ul {
  list-style: none;
  overflow: hidden;
}
header .navigation_div li {
  float: left;
  margin-left: 20px;
  padding: 10px 0;
  font-size: 20px;
}
header .navigation_div li a {
  text-decoration: none;
  color: #fff;
}
header .title_div img {
  width: 70px;
}

/* INDEX: main content part */
.content_div {
  background-color: #d3d9fa;
  border-radius: 7px;
  margin: 0 auto;
  position: relative;
}
.content_div article {
  padding: 2.5px 0 2.5px 5px;
}
.content_div .first_article .my_pic{
  width: 500px;
  border-radius: 10px;
}
.content_div .first_article a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* INDEX: footer part */
footer {
  text-align: center;
}

/* INDEX: aside part */
aside .aside_div {
  background-color: #33374b;
  position: fixed;
  top: 180px;
  right: 120px;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
aside .aside_div a {
  color: #fff;
}
aside .aside_div img{
  width: 150px;
}

/* COMMON: ABOUT, POST part*/

summary {
  list-style: none;
  cursor: pointer;
}

/* <<ABOUT PART>> */
/* ABOUT: header part */
  /* NONE */

/* ABOUT: main content part */
.content_div .first_article .check_pic{
  width: 20px;
}

/* ABOUT: footer part */
  /* NONE */

/* ABOUT: aside part */
  /* NONE */

/* POST PART */
  /* NONE */

/* POST: header part */
  /* NONE */
  
/* POST: main content part */
.content_div .first_article .music_pic{
  width: 50px;
}
.content_div .second_article .album_table tr td{
  /* Temp border */
  /* border: 1px solid #000; */
  text-align: center;
  padding: 10px;
}
.content_div .second_article .album_table details p{
  text-align: justify;
}
.content_div .second_article .album_table img{
  width: 331px;
  border-radius: 10px;
}

/* POST: footer part */
  /* NONE */

/* POST: aside part */
aside .aside2_div {
  background-color: #33374b;
  position: absolute;
  top: 5px;
  left: 38%;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
aside .aside2_div a {
  color: #fff;
}